$shadow: 0px 8px 8px rgba(0, 0, 0, 0.9);
// $content_background: url("/assets/images/textures/crossword.png") repeat;
.toast {
    background-color: rgba(0, 0, 0, 0.9);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    .nav-tabs .nav-link {
        border: none;
        border-radius: 0;
    }
}

button.active {
    border: 1px solid #ccc;
}