<div class="provision" *ngIf="provision && container && container.provision">
    <div class="mt-1 d-grid gap-2 d-md-flex justify-content-md-end">

        <div class="btn-group btn-group-sm">
            <a class="btn btn-small btn-primary" (click)="moveUp(provision, container.provision)"
                *ngIf="canMoveUp(provision, container.provision)"><span class="bi bi-chevron-up"></span></a>
            <a class="btn btn-small btn-primary disabled" *ngIf="!canMoveUp(provision, container.provision)"><span
                    class="bi bi-chevron-up"></span></a>
            <a class="btn btn-small btn-primary disabled" *ngIf="!canMoveDown(provision, container.provision)"><span
                    class="bi bi-chevron-down"></span></a>
            <a class="btn btn-small btn-primary" (click)="moveDown(provision, container.provision)"
                *ngIf="canMoveDown(provision, container.provision)"><span class="bi bi-chevron-down"></span></a>
            <!-- <a class="btn btn-small btn-outline-danger" (click)="removeProvision(provision)"><span
                    class="bi bi-trash"></span> Delete Provision</a> -->
        </div>

        <!-- <button class="btn btn-outline-danger mt-2" (click)="deleteCategory(cat)"><span
    class="bi bi-trash"></span> Delete Category</button> -->
    </div>

    <div class="row" *ngIf="categorySettings">
        <div class="col-sm-6">
            <div class="mt-4">
                <h3>Medical Information</h3>
                <category-selector [provision]="provision"></category-selector>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="mt-4" >
                <h3>Purpose of Use</h3>
                <purpose-selector [provision]="provision"></purpose-selector>
            </div>

            <h4 class="mt-4">Actors</h4>
            <div *ngFor="let actor of provision.actor">
                <h6>Roles</h6>
                <div *ngIf="actor.role">
                    <div *ngIf="actor.reference" class="form-floating">
                        <input class="form-control form-control-sm" type="text" name="consent_provision_actor_reference"
                            [(ngModel)]="actor.reference.reference" disabled />
                        <label for="consent_provision_actor_reference">Reference</label>
                    </div>

                    <div *ngFor="let coding of actor.role.coding">
                        <div class="form-floating">
                            <input class="form-control form-control-sm" type="text"
                                name="consent_provision_actor_role_coding_system" [(ngModel)]="coding.system" />
                            <label for="consent_provision_actor_role_coding_system">System</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control form-control-sm" type="text"
                                name="consent_provision_actor_role_coding_code" [(ngModel)]="coding.code" />
                            <label for="consent_provision_actor_role_coding_code">Code</label>
                        </div>
                    </div>
                </div>
            </div>

            <h4 class="mt-4">Actions</h4>
            <div *ngFor="let cc of provision.action">
                <div *ngFor="let coding of cc.coding">
                    <div class="form-floating">
                        <input class="form-control form-control-sm" type="text"
                            name="consent_provision_action_coding_system" [(ngModel)]="coding.system" />
                        <label for="consent_provision_action_coding_system">System</label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control form-control-sm" type="text"
                            name="consent_provision_action_coding_code" [(ngModel)]="coding.code" />
                        <label for="consent_provision_action_coding_code">Code</label>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <br>
    <button class="btn btn-sm btn-primary" (click)="addSubProvision()"><span class="bi-plus-circle"></span>
        Add a Sub-Provision Exceptions</button>

    <div class="mt-2" *ngFor="let p of provision.provision">
        <button class="btn btn-sm btn-danger float-end" (click)="removeSubProvision(p)"><span class="bi-trash"></span>
            Remove This Sub-Provision Exception</button>
        <provision class="p-2" [container]="provision" [provision]="p" />
    </div>


</div>