<div *ngIf="patientSelected" class="container-fluid">
    <div class="row mt-4">
        <div class="col-sm-12">
            <small class="fw-lighter text-secondary">Data sharing consent directive simulator.
            </small>

            <h4 class="m-0">
                {{nameFor(patientSelected!)}}
                <button class="btn btn-sm btn-outline-secondary" role="button" [routerLink]="['/builder', consent.id]">
                    <span class="bi bi-pencil"></span>
                    Edit consent: {{consent.id}}
                </button>

            </h4>
        </div>
    </div>
    <div class="row mt-1">
        <div id="controls" class="col-sm-2">
            <section id="engine" class="mt-4">
                <h6>SHARES Simulation Engine</h6>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="engineType" id="engineTypeCdsHooks"
                        [(ngModel)]="engineType" [value]="engineTypes().CDS_HOOKS" />
                    <label class="form-check-label" role="button" for="engineTypeCdsHooks">
                        <span class="bi bi-terminal-split"></span>
                        CDS Hooks
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="engineType" id="engineTypeCql"
                        [(ngModel)]="engineType" [value]="engineTypes().CQL" />
                    <label class="form-check-label" role="button" for="engineTypeCql">
                        <span class="bi bi-code-slash"></span>
                        CQL
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="engineType" id="engineTypeAi"
                        [(ngModel)]="engineType" [value]="engineTypes().AI" disabled />
                    <label class="form-check-label" role="button" for="engineTypeAi">
                        <span class="bi bi-magic"></span>
                        AI (Coming 2025)
                    </label>
                </div>

            </section>

            <section *ngIf="requiresPatientDataExport()" class="mt-4 py-2">
                <h6 class="">Data Caching</h6>

                <!-- <small class="text-secondary">Data prefetch is required.</small> -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="cacheDataSave" [(ngModel)]="cacheDataSave" />
                    <label class="form-check-label" role="button" for="cacheDataSave">Save exports to browser
                        cache.</label>
                    <br />
                    <small *ngIf="settings().settings.show_descriptions" class="form-text">Exported data will always be
                        saved to browser storage for future reuse, overwriting any other local copy of the patient's
                        records.</small>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="cacheDataLookup"
                        [(ngModel)]="cacheDataLookup" />
                    <label class="form-check-label" role="button" for="cacheDataLookup">Use cached data.</label>
                    <br />
                    <small *ngIf="settings().settings.show_descriptions && cacheDataLookup" class="form-text">Exported
                        data will be saved to browser storage for future reuse.</small>
                    <small *ngIf="settings().settings.show_descriptions && !cacheDataLookup" class="form-text">Data will
                        always be reexported.</small>
                </div>
                <button class="btn btn-sm btn-outline-primary mt-2 me-1" role="button" (click)="forceResetCache()">
                    <span class="bi bi-trash"></span>
                    Empty Cache</button>
            </section>
            <section *ngIf="requiresPatientDataExport()" class="mt-4 py-2">
                <h6 class="">Patient Data Retrieval</h6>

                <button class="btn btn-sm btn-primary mt-2 me-1" role="button" (click)="getPatientData()"
                    [disabled]="prefetchStatus != 'ready' && prefetchStatus != 'complete'">
                    <span class="bi bi-person"></span>
                    Request Patient Export</button>
                <button class="btn btn-sm btn-outline-secondary mt-2 ms-4" role="button" (click)="fakeExport()"
                    [disabled]="prefetchStatus != 'ready' && prefetchStatus != 'complete'">
                    <span class="bi bi-arrow-90deg-up"></span>
                    Use Fake Export Instead</button>
                <!-- <button class="btn btn-sm btn-secondary mt-2 me-1" role="button" (click)="recollectPatientData()"
                        [disabled]="prefetchStatus != 'collecting' && prefetchStatus != 'complete'">
                        <span class="bi bi-file-earmark-arrow-down"></span>
                        Recollect Patient Data</button> -->


            </section>

            <section *ngIf="canSimulate()" class="mt-4 py-2">
                <h6 class="">Exchange Simulation</h6>
                <button class="btn btn-sm btn-primary mt-2 me-1" role="button" (click)="simulate()">
                    <span class="bi bi-play"></span>
                    Run Simulation</button>
            </section>

            <section *ngIf="canSimulate()" id="categories" class="mt-4 py-2">

                <h6>Post-Simulation Filtering</h6>
                <button class="btn btn-sm btn-outline-primary my-2" role="button" (click)="randomize()">
                    <span class="bi bi-shuffle"></span>
                    Randomize</button>

                <h6 class="mt-4">Data Category Security Labels</h6>
                <select class="form-control form-control-sm " [(ngModel)]="filterCategoryMode">
                    <option [value]="filterModes().ALL" [selected]="filterModes().ALL">Show everything
                    </option>
                    <option [value]="filterModes().ONLY" [selected]="filterModes().ONLY">Only data labeled as
                    </option>
                    <option [value]="filterModes().EXCEPT" [selected]="filterModes().EXCEPT">Except data labeled as
                    </option>
                </select>
                <a class="btn btn-sm btn-outline-secondary my-2 py-0 px-1" role="button"
                    (click)="selectAllCategories(true)"><small>All</small></a>&nbsp;
                <a class="btn btn-sm btn-outline-secondary my-2 py-0 px-1" role="button"
                    (click)="selectAllCategories(false)"><small>None</small></a>
                <category-selector *ngIf="filterCategoryMode != filterModes().ALL" [provision]="dummyProvision"
                    [categorySettings]="filterCategorySettings"></category-selector>


                <h6 class="mt-4">Consent Sharing Purpose</h6>
                <select class="form-control form-control-sm" [(ngModel)]="filterPurposeMode">
                    <option [value]="filterModes().ALL" [selected]="filterModes().ALL">Any purpose
                    </option>
                    <option [value]="filterModes().ONLY" [selected]="filterModes().ONLY">Only data sharable for
                    </option>
                    <option [value]="filterModes().EXCEPT" [selected]="filterModes().EXCEPT">Except data sharable for
                    </option>
                </select>
                <purpose-selector *ngIf="filterPurposeMode != filterModes().ALL" [provision]="dummyProvision"
                    [categorySettings]="filterCategorySettings"></purpose-selector>

                <h6 class="mt-4">Sharing Decision</h6>
                <select class="form-control form-control-sm" [(ngModel)]="sharingDecisionMode">
                    <option [value]="consentDecisionTypes().NO_CONSENT" [selected]="filterModes().ALL">Everything
                    </option>
                    <option [value]="consentDecisionTypes().CONSENT_PERMIT"
                        [selected]="consentDecisionTypes().CONSENT_PERMIT">Only shared data
                    </option>
                    <option [value]="consentDecisionTypes().CONSENT_DENY"
                        [selected]="consentDecisionTypes().CONSENT_DENY">Only redacted data
                    </option>
                </select>
            </section>



        </div>
        <div class="col-md-10">
            @if(prefetchStatus == 'ready') {
            <!-- Ready -->
            } @else if (prefetchStatus == 'exporting') {
            <div class="text-center">
                <div class="spinner-border my-4" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <p>
                    Waiting for the server to produce a patient export, which could take some time. Don't close this
                    page!</p>
                <small *ngIf="prefetchRequestLastPolled">Last polled {{prefetchRequestLastPolled.toLocaleTimeString()}}.
                </small>

            </div>
            <!-- <p *ngIf="prefetchStatusMessage">{{prefetchStatusMessage}}</p> -->
            } @else if (prefetchStatus == 'collecting') {
            <div class="text-center">
                <div class="spinner-border my-4" role="status">
                    <span class="visually-hidden">Collecting...</span>
                </div>
                <p>
                    Fetching compiled resources produced by the server...</p>
            </div>
            <!-- <p *ngIf="prefetchStatusMessage">{{prefetchStatusMessage}}</p> -->
            } @else if (prefetchStatus == 'complete') {
            <div *ngIf="!prefetchResourcesLabeled" class="my-4">
                <p class="text-center text-secondary"> Simulate an exchange to view results.</p>
            </div>
            <table *ngIf="prefetchResourcesLabeled" class="table table-condensed">
                <thead>
                    <tr>
                        <th>Source Data Link</th>
                        <th>Codings</th>
                        <th>Engine-Provided Labels</th>
                        <th>Consent Decision</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let r of prefetchResourcesLabeled" [hidden]="!resourceShown(r)">
                        <td><a [href]="this.backendService.url + '/' + r.resourceType + '/' + r.id"
                                target="_blank">{{r.resourceType}}</a>
                        </td>
                        <td>

                            <span *ngFor="let c of codingsFor(r)"
                                class="badge rounded-pill text-bg-light">{{c.display}}</span>
                        </td>
                        <td>
                            <span *ngFor="let c of r.meta?.security">
                                <span *ngIf="c.code" class="badge rounded-pill text-bg-primary">
                                    {{categoryNameFor(c.code)}}
                                </span>
                                <span *ngIf="!c.code" class="badge rounded-pill text-bg-warning">
                                    {{c.code}}
                                </span>
                            </span>
                        </td>
                        <td>
                            <span *ngIf="r.id && consentDecisions[r.id]">
                                <span *ngIf="consentDecisions[r.id].summary == consentDecisionTypes().CONSENT_PERMIT"
                                    class="badge rounded-pill bg-success">
                                    Permit
                                </span>
                                <span *ngIf="consentDecisions[r.id].summary == consentDecisionTypes().CONSENT_DENY"
                                    class="badge rounded-pill bg-danger">
                                    Deny
                                </span>
                            </span>

                        </td>
                    </tr>
                </tbody>
            </table>
            }
        </div>
    </div>
</div>