<!-- {{consentService.url()}} -->
<br />

<div *ngIf="bundle" id="browser" class="">

    <div class="m-1">

        <!-- <div class="form-floating mt-2"> -->
        <select class="form-control form-control-sm" [(ngModel)]="consentService.pageSize" (change)="reload()">
            <option value="10" [selected]="consentService.pageSize == 10">10 per page</option>
            <option value="20" [selected]="consentService.pageSize == 20">20 per page</option>
            <option value="50" [selected]="consentService.pageSize == 50">50 per page</option>
        </select>
        <!-- <label for="consent_provision_type">Per Page</label> -->
        <!-- <small class="form-text"></small> -->
        <!-- </div> -->
        &nbsp;

        <div class="pager" *ngIf="hasPreviousPage() || hasNextPage()">
            <!-- <span *ngIf="!hasPreviousPage()">First Page</span> -->
            <a class="btn" *ngIf="hasPreviousPage()" (click)="setOffset(currentOffset() - pageSize())">Previous</a>
            <span>...</span>
            <a class="btn" *ngIf="hasNextPage()" (click)="setOffset(currentOffset() + pageSize())">Next</a>
            <!-- <span *ngIf="!hasNextPage()">End of Results</span> -->
        </div>
    </div>

    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th class="sortable" (click)="sortBy(sortTypes.ID)">
                    Consent ID
                    <span *ngIf="currentSort() == sortTypes.ID" class="bi" [class.bi-arrow-up]="currentOrder() == 'asc'"
                        [class.bi-arrow-down]="currentOrder() == 'desc'"> </span>
                </th>
                <th class="sortable" (click)="sortBy(sortTypes.Subject)">
                    Subject
                    <span *ngIf="currentSort() == sortTypes.Subject" class="bi"
                        [class.bi-arrow-up]="currentOrder() == 'asc'" [class.bi-arrow-down]="currentOrder() == 'desc'">
                    </span>
                </th>
                <th class="sortable" (click)="sortBy(sortTypes.Status)">
                    Status
                    <span *ngIf="currentSort() == sortTypes.Status" class="bi"
                        [class.bi-arrow-up]="currentOrder() == 'asc'" [class.bi-arrow-down]="currentOrder() == 'desc'">
                    </span>

                </th>
                <th class="sortable" (click)="sortBy(sortTypes.Period)">
                    Effective Period
                    <span *ngIf="currentSort() == sortTypes.Period" class="bi"
                        [class.bi-arrow-up]="currentOrder() == 'asc'" [class.bi-arrow-down]="currentOrder() == 'desc'">
                    </span>
                </th>
                <th>
                    Decision
                </th>
                <th class="sortable" (click)="sortBy(sortTypes.Controller)">
                    Controller(s)
                    <span *ngIf="currentSort() == sortTypes.Controller" class="bi"
                        [class.bi-arrow-up]="currentOrder() == 'asc'" [class.bi-arrow-down]="currentOrder() == 'desc'">
                    </span>
                </th>
                <th class="sortable" (click)="sortBy(sortTypes.LastUpdated)">
                    Updated
                    <span *ngIf="currentSort() == sortTypes.LastUpdated" class="bi"
                        [class.bi-arrow-up]="currentOrder() == 'asc'" [class.bi-arrow-down]="currentOrder() == 'desc'">
                    </span>
                </th>
                <th>
                    <!-- Actions -->
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of bundle.entry">
                <td>
                    <a [routerLink]="['/builder', c.resource!.id]">
                        {{c.resource?.id}}</a>
                    <div class="btn-group mt-2">
                        <button class="btn btn-sm btn-primary" role="link"
                            [routerLink]="['/builder', c.resource!.id]">
                            <span class="bi bi-pencil"> Edit</span>
                        </button>
                        <button class="btn btn-sm btn-primary" role="link"
                            [routerLink]="['/simulator', c.resource!.id]">
                            <span class="bi bi-tags"> Simulate Sharing</span>
                        </button>
                    </div>
                </td>
                <td>
                    <div *ngIf="c.resource?.subject?.reference">
                        <b>
                            <span *ngIf="patientSummaries[c.resource!.subject!.reference!]"
                                [innerText]="nameFor(patientSummaries[c.resource!.subject!.reference!])"></span>
                        </b>
                        -
                        {{c.resource!.subject!.reference}}
                    </div>
                </td>
                <td>{{c.resource?.status}}</td>
                <!-- <td>
                    <p *ngFor="let cc of c.resource?.category">
                        <span *ngFor="let coding of cc.coding">
                            {{coding.code}}
                            ({{coding.system}})
                        </span>
                    </p>
                </td> -->
                <td>
                    <p *ngIf="c.resource?.period">
                        {{c.resource?.period?.start}} -
                        {{c.resource?.period?.end}}
                    </p>
                </td>
                <td>{{c.resource?.decision}}</td>
                <td>
                    <p *ngFor="let g of c.resource?.controller">
                        <b>
                            <span *ngIf="g.reference && organizationSummaries[g.reference]"
                                [innerText]="organizationSummaries[g.reference].name"></span>
                        </b>
                        -
                        {{g.reference}}
                    </p>
                </td>
                <!-- <td>{{c.resource?.provision}}</td> -->

                <td>{{c.resource?.meta?.lastUpdated}}</td>
                <td><button *ngIf="c.resource" class="btn btn-danger" role="button" (click)="delete(c.resource)"><span
                            class="bi bi-trash"> </span></button></td>
            </tr>
        </tbody>
    </table>
</div>