#builder {

    section {
        // border-top: 1px solid #ddd;
        padding-top: 20px;
    }

    #organizationSearchResults {
        border-left: 1px solid #ddd;
        // border-top: 1px solid #ddd;
    }

    .codeableConceptCard {

        border: 1px solid #000;
        margin: 10px;
        padding: 10px;
    }

    .form-check label {
        cursor: pointer;
    }
}