#builder {

    section {
        // border-top: 1px solid #ddd;
        padding-top: 20px;
    }

    #organizationSearchResults {
        border-left: 1px solid #ddd;
        // border-top: 1px solid #ddd;
    }

    .codeableConceptCard {

        border: 1px solid #ccc;
        // margin: 10px;
        padding: 10px;
    }

    .codeableConceptCard:nth-child(even) {
        background-color: #eee;
    }

    .form-check label {
        cursor: pointer;
    }

    .provision {
        border: 1px solid #999;
    }

    #preview {
        textarea {
            width: 100%;
            height: 100%;
        }
    }
}