<div id="builder" class="container-fluid">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="basics-tab" data-bs-toggle="tab" data-bs-target="#basics-tab-pane"
                type="button" role="tab" aria-controls="basics-tab-pane" aria-selected="true"><span
                    class="bi bi-person"></span> Home</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="provisions-tab" data-bs-toggle="tab" data-bs-target="#provisions-tab-pane"
                type="button" role="tab" aria-controls="provisions-tab-pane" aria-selected="false"><span
                    class="bi bi-file-check"></span> Provisions</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="advanced-tab" data-bs-toggle="tab" data-bs-target="#advanced-tab-pane"
                type="button" role="tab" aria-controls="advanced-tab-pane" aria-selected="false"><span
                    class="bi bi-code-slash"></span> Advanced</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="fhir-tab" data-bs-toggle="tab" data-bs-target="#fhir-tab-pane" type="button"
                role="tab" aria-controls="fhir-tab-pane" aria-selected="false"><span class="bi bi-fire"></span>
                FHIR</button>
        </li>
        <li class="nav-item" role="presentation">

            <!-- <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane"
                type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Contact</button> -->
        </li>
    </ul>
    <div class="">
        <br />
        <button *ngIf="mode == 'create'" class="btn btn-md btn-primary" (click)="save()"><span class="bi-save"></span>
            Save as New Consent</button>
        <button *ngIf="mode == 'update'" class="btn btn-md btn-primary" (click)="update()"><span class="bi-save"></span>
            Update Consent</button>
        <span *ngIf="consent.id">
            ID: {{consent.id}}</span>
    </div>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane show active" id="basics-tab-pane" role="tabpanel" aria-labelledby="basics-tab"
            tabindex="0">

            <div class="row">

                <div class="col-md-6">
                    <section class="mt-4">


                        <h1>
                            <span *ngIf="mode == 'create'">New</span><span *ngIf="mode == 'update'">Update</span>
                            Consent Form
                            <button *ngIf="mode == 'create'" class="btn btn-sm btn-primary" (click)="reset()"><span
                                    class="bi-save"></span> Reset
                                Form</button>
                        </h1>
                        <p class="form-text">This form guides you through creation of the consent documents used by a
                            provider
                            organization to determine what information may be shared with whom.</p>
                    </section>
                    <!-- <small>For FHIR R4</small> -->


                    <!-- 
        <button class="btn btn-sm btn-primary" (click)="addPatientSubject()" *ngIf="!consent.subject"><span
                class="bi-save"></span> Add Patient Subject</button> -->
                    <section class="mt-4">

                        <h2>Subject of Consent</h2>
                        <div class="form-floating" *ngIf="!consent.subject">
                            <div class="input-group">

                                <input class="form-control" type="text" name="consent_subject_search_text"
                                    [(ngModel)]="patientSearchText" (change)="patientSearch(patientSearchText)" />
                                <!-- <label for="consent_subject_search_text">Search</label> -->
                                <button class="btn btn-outline btn-primary" type="button"
                                    (click)="patientSearch(patientSearchText)" [disabled]="patientSearchText == ''">
                                    <span *ngIf="!patientSearching" class="bi bi-search"></span>
                                    <span *ngIf="patientSearching" class="bi bi-hourglass-split"></span>
                                    Search</button>

                            </div>
                            <small class="form-text">Search for a patient whose records will be the subject of this
                                consent.</small>
                        </div>

                        <table *ngIf="patientList && !patientSelected" class="table table-condensed table-striped">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>ID</td>
                                    <td>Birth Date</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of patientList.entry">
                                    <td><span *ngFor="let n of p.resource?.name">
                                            {{n.family || '(Unknown)'}}, <span *ngFor="let g of n.given">{{g}} </span>
                                        </span>
                                    </td>
                                    <td>{{p.resource?.id}}</td>
                                    <td>{{p.resource?.birthDate}}</td>
                                    <td><button *ngIf="p.resource" class="btn btn-sm btn-primary"
                                            (click)="selectPatientSubject(p.resource)"><span class="bi-save"></span>
                                            Select</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="form-floating" *ngIf="patientSelected">
                            <div *ngIf="patientSelected.name" class="input-group">

                                <input class="form-control" type="text" name="consent_subject_patient_selected_name"
                                    [(ngModel)]="patientSelected.name[0]!.given + ' ' + patientSelected.name[0]!.family"
                                    disabled />
                                <button class="btn btn-outline btn-primary" (click)="removeSubject()"
                                    *ngIf="consent.subject"><span class="bi bi-trash"></span> Remove</button>
                            </div>
                            <small class="form-text">Patient whose records this consent document applies :
                                {{patientSelected.id}}</small>
                        </div>

                    </section>

                    <section class="mt-4">
                        <h2>Enforcing Organization</h2>
                        <div class="form-floating">
                            <div class="input-group">

                                <input class="form-control" type="text" name="consent_subject_search_text"
                                    [(ngModel)]="organizationSearchText"
                                    (change)="organizationSearch(patientSearchText)" />
                                <!-- <label for="consent_subject_search_text">Search</label> -->
                                <button class="btn btn-outline btn-primary" type="button"
                                    (click)="organizationSearch(patientSearchText)"
                                    [disabled]="organizationSearchText == ''">

                                    <span *ngIf="!organizationSearching" class="bi bi-search"></span>
                                    <span *ngIf="organizationSearching" class="bi bi-hourglass-split"></span>
                                    Search</button>

                            </div>
                            <small class="form-text">Search for organizations to whom this consent should be used for
                                directing
                                the elements of the subject's medical records to be exposed or redacted.</small>
                        </div>

                        <div *ngIf="organizationList" id="organizationSearchResults" class="mt-4">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button class="btn btn-sm btn-outline-primary" type="button"
                                    (click)="organizationList = null"><span class="bi bi-x-circle"></span>
                                    Close Results</button>
                            </div>
                            <table *ngIf="organizationList" class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <td>Name</td>
                                        <td>ID</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let o of organizationList.entry">
                                        <td><span>{{o.resource?.name}}</span>
                                        </td>
                                        <td>{{o.resource?.id}}</td>
                                        <td><button *ngIf="o.resource && !isSelectedOrganization(o.resource)"
                                                class="btn  btn-outline-primary"
                                                (click)="selectOrganization(o.resource)"><span
                                                    class="bi bi-plus-circle"></span> </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div *ngIf="consent.controller && consent.controller.length > 0" class="mt-2">
                            <h4>Selected Entities</h4>
                            <table class="table table-condensed table-striped">
                                <!-- <thead>
                            <tr>
                                <td>Name</td>
                                <td>Reference ID</td>
                                <td></td>
                            </tr>
                        </thead> -->
                                <tbody>
                                    <tr *ngFor="let o of consent.controller">
                                        <td>{{organizationForReference(o.reference!)?.name}}</td>
                                        <td><span>{{o.reference}}</span>
                                        </td>
                                        <td><button *ngIf="o.reference" class="btn btn-sm btn-primary"
                                                (click)="removeOrganization(organizationForReference(o.reference)!)"><span
                                                    class="bi-trash"></span>
                                                Remove</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>





                </div>


                <div class="col-md-6">
                    <section class="mt-4">
                        <h2>Type</h2>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-floating mt-2">
                                    <select class="form-control form-control-sm" [(ngModel)]="consent.decision">
                                        <option value="permit" [selected]="'permit'">Permit</option>
                                        <option value="deny" [selected]="'deny'">Deny</option>
                                    </select>
                                    <label for="consent_provision_type">Provision Type</label>
                                    <small class="form-text">Selecting "Deny" will prevent access except as explicitly
                                        granted
                                        by items in the provisions tab. "Permit" will grant data access by default,
                                        except
                                        for
                                        your provisions.</small>
                                </div>
                            </div>
                            <div class="col-sm-6">

                                <div class="form-floating mt-2">
                                    <select class="form-control form-control-sm" [(ngModel)]="consent.status">
                                        <option value="draft" [selected]="consent.status == 'draft'">Draft</option>
                                        <option value="active" [selected]="consent.status == 'active'">Active</option>
                                        <option value="inactive" [selected]="consent.status == 'inactive'">Inactive
                                        </option>
                                        <option value="not-done" [selected]="consent.status == 'not-done'">Rejected
                                        </option>
                                        <option value="entered-in-error"
                                            [selected]="consent.status == 'entered-in-error'">
                                            Enterered in
                                            Error
                                        </option>
                                        <option value="unknown" [selected]="consent.status == 'unknown'">Unknown
                                        </option>
                                    </select>
                                    <label for="consent_status">Status</label>
                                    <small class="form-text">Only "Active" consents are enforced.</small>
                                </div>
                            </div>
                        </div>


                    </section>
                    <section>
                        <div class="mt-4">
                            <button class="btn btn-sm btn-primary" (click)="addPeriod()" *ngIf="!consent.period"><span
                                    class="bi-save"></span> Add Period</button>
                        </div>
                        <div *ngIf="consent.period" class="row mt-4">
                            <h2>Effective Period
                                <button class="btn btn-sm btn-primary" (click)="removePeriod()"
                                    *ngIf="consent.period"><span class="bi-save"></span> Remove Period</button>
                            </h2>
                            <div class="col-sm-6">
                                <div class="form-floating" *ngIf="consent.period">
                                    <input class="form-control form-control-sm" type="text"
                                        name="consent_provision_period_start"
                                        *ngIf="consent.provision && consent.period"
                                        [(ngModel)]="consent.period!.start" />
                                    <label for="consent_provision_period_start">Start</label>
                                    <small class="form-text">Begins at this date and time.</small>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-floating" *ngIf="consent.period">
                                    <input class="form-control form-control-sm" type="text"
                                        name="consent_provision_period_end" *ngIf="consent.provision && consent.period"
                                        [(ngModel)]="consent.period!.end" />
                                    <label for="consent_provision_period_end">End</label>
                                    <small class="form-text">Ends at this date and time.</small>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </div>

        <div class="tab-pane " id="provisions-tab-pane" role="tabpanel" aria-labelledby="provisions-tab" tabindex="0">
            <section class="mt-4">
                <h2>Consent Provisions
                    <button class="btn btn-sm btn-primary" (click)="addProvision()"><span class="bi-plus-circle"></span>
                        Add Provision</button>
                </h2>
                <div class="provision mt-4 p-2" *ngFor="let p of consent.provision">

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">

                        <div *ngIf="consent.category" class="btn-group btn-group-sm">
                            <a class="btn btn-small btn-primary" (click)="moveUp(p, consent.provision!)"
                                *ngIf="canMoveUp(p, consent.provision!)"><span
                                    class="bi bi-chevron-up"></span></a>
                            <a class="btn btn-small btn-primary disabled"
                                *ngIf="!canMoveUp(p, consent.provision!)"><span
                                    class="bi bi-chevron-up"></span></a>
                            <a class="btn btn-small btn-primary disabled"
                                *ngIf="!canMoveDown(p, consent.provision!)"><span
                                    class="bi bi-chevron-down"></span></a>
                            <a class="btn btn-small btn-primary" (click)="moveDown(p, consent.provision!)"
                                *ngIf="canMoveDown(p, consent.provision!)"><span
                                    class="bi bi-chevron-down"></span></a>
                            <a class="btn btn-small btn-outline-danger" (click)="removeProvision(p)"><span
                                    class="bi bi-trash"></span> Delete Provision</a>
                        </div>

                        <!-- <button class="btn btn-outline-danger mt-2" (click)="deleteCategory(cat)"><span
                        class="bi bi-trash"></span> Delete Category</button> -->
                    </div>

                    <!-- <button class="btn btn-sm btn-danger" (click)="removeProvision(p)"><span class="bi-trash"></span>
                        Remove Provision</button> -->

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mt-4" *ngIf="p.id && medicalInformation[p.id]">
                                <h3>Medical Information</h3>
                                <div class="form-check mt-3">
                                    <input class="form-check-input" type="checkbox"
                                        [id]="'medical_domestic_violence-' + p.id"
                                        [(ngModel)]="medicalInformation[p.id].domesticViolence.enabled"
                                        (change)="updateMedicalInformation(p)" required />
                                    <label class="form-check-label" [for]="'medical_domestic_violence-' + p.id">Domestic
                                        Violence</label>
                                    <br />
                                    <small class="form-text">Possible indicators of physical or mental harm by violence
                                        of a
                                        domestic nature.</small>
                                </div>
                                <div class="form-check mt-3">
                                    <input class="form-check-input" type="checkbox"
                                        [id]="'medical_genetic_information-' + p.id"
                                        [(ngModel)]="medicalInformation[p.id].geneticInformation.enabled"
                                        (change)="updateMedicalInformation(p)" required />
                                    <label class="form-check-label"
                                        [for]="'medical_genetic_information-' + p.id">Genetic
                                        Information</label>
                                    <br />
                                    <small class="form-text">Genomic and molecular data that may indicate, for example,
                                        susceptability to heritable disease.</small>
                                </div>
                                <div class="form-check mt-3">
                                    <input class="form-check-input" type="checkbox"
                                        [id]="'medical_mental_health-' + p.id"
                                        [(ngModel)]="medicalInformation[p.id].mentalHealth.enabled"
                                        (change)="updateMedicalInformation(p)" required />
                                    <label class="form-check-label" [for]="'medical_mental_health-' + p.id">Mental
                                        Health</label>
                                    <br />
                                    <small class="form-text">As distinct from physical health, may also include
                                        behavioral
                                        disabilities and disorders</small>
                                </div>
                                <div class="form-check mt-3">
                                    <input class="form-check-input" type="checkbox"
                                        [id]="'medical_sexual_and_reproductive-' + p.id"
                                        [(ngModel)]="medicalInformation[p.id].sexualAndReproductive.enabled"
                                        (change)="updateMedicalInformation(p)" required />
                                    <label class="form-check-label"
                                        [for]="'medical_sexual_and_reproductive-' + p.id">Sexual
                                        &amp;
                                        Reproductive
                                        Health</label>
                                    <br />
                                    <small class="form-text">Information related to sexuality and reproductive
                                        health</small>
                                </div>
                                <div class="form-check mt-3">
                                    <input class="form-check-input" type="checkbox"
                                        [id]="'medical_substance_use-' + p.id"
                                        [(ngModel)]="medicalInformation[p.id].substanceUse.enabled"
                                        (change)="updateMedicalInformation(p)" required />
                                    <label class="form-check-label" [for]="'medical_substance_use-' + p.id">Substance
                                        Use</label>
                                    <br />
                                    <small class="form-text">Records pertaining to drugs and alcohol.</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="mt-4" *ngIf="p.id && purpose[p.id]">
                                <h3>Purpose of Use</h3>
                                <div class="form-check mt-3">
                                    <input class="form-check-input" type="checkbox" [id]="'purpose_treatment-' + p.id"
                                        [(ngModel)]="purpose[p.id].treatment.enabled" (change)="updatePurpose(p)"
                                        required />
                                    <label class="form-check-label" [for]="'purpose_treatment-'+ p.id">Treatment</label>
                                    <br />
                                    <small class="form-text">For the purposes of providing or supporing care.</small>
                                </div>
                                <div class="form-check mt-3">
                                    <input class="form-check-input" type="checkbox" [id]="'purpose_research-'+ p.id"
                                        [(ngModel)]="purpose[p.id].research.enabled" (change)="updatePurpose(p)"
                                        required />
                                    <label class="form-check-label" [for]="'purpose_research-'+ p.id">Research</label>
                                    <br />
                                    <small class="form-text">Scientific and academic research intended to benefit
                                        others.</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-sm-6">
                            <h4>Actors</h4>
                            <div *ngFor="let actor of p.actor">
                                <h6>Roles</h6>
                                <div *ngIf="actor.role">
                                    <div *ngIf="actor.reference" class="form-floating">
                                        <input class="form-control form-control-sm" type="text"
                                            name="consent_provision_actor_reference"
                                            [(ngModel)]="actor.reference.reference" disabled />
                                        <label for="consent_provision_actor_reference">Reference</label>
                                    </div>

                                    <div *ngFor="let coding of actor.role.coding">
                                        <div class="form-floating">
                                            <input class="form-control form-control-sm" type="text"
                                                name="consent_provision_actor_role_coding_system"
                                                [(ngModel)]="coding.system" />
                                            <label for="consent_provision_actor_role_coding_system">System</label>
                                        </div>
                                        <div class="form-floating">
                                            <input class="form-control form-control-sm" type="text"
                                                name="consent_provision_actor_role_coding_code"
                                                [(ngModel)]="coding.code" />
                                            <label for="consent_provision_actor_role_coding_code">Code</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">

                            <div>
                                <h4>Actions</h4>
                                <div *ngFor="let cc of p.action">
                                    <div *ngFor="let coding of cc.coding">
                                        <div class="form-floating">
                                            <input class="form-control form-control-sm" type="text"
                                                name="consent_provision_action_coding_system"
                                                [(ngModel)]="coding.system" />
                                            <label for="consent_provision_action_coding_system">System</label>
                                        </div>
                                        <div class="form-floating">
                                            <input class="form-control form-control-sm" type="text"
                                                name="consent_provision_action_coding_code" [(ngModel)]="coding.code" />
                                            <label for="consent_provision_action_coding_code">Code</label>
                                        </div>
                                    </div>
                                </div>

                                <!-- <h4>Purposes</h4>
                                <div *ngFor="let purpose of p.purpose">
                                    <div class="row mt-2">

                                        <div class="form-floating col-sm-6">
                                            <input class="form-control form-control-sm" type="text"
                                                name="consent_provision_purpose_coding_system"
                                                [(ngModel)]="purpose.system" />
                                            <label for="consent_provision_purpose_coding_system">System</label>
                                        </div>
                                        <div class="form-floating col-sm-6">
                                            <input class="form-control form-control-sm" type="text"
                                                name="consent_provision_purpose_coding_code"
                                                [(ngModel)]="purpose.code" />
                                            <label for="consent_provision_purpose_coding_code">Code</label>
                                        </div>
                                    </div>
                                </div> -->

                            </div>
                        </div>
                    </div>


                </div>
            </section>
        </div>

        <div class="tab-pane " id="advanced-tab-pane" role="tabpanel" aria-labelledby="advanced-tab" tabindex="0">
            <div class="row">

                <div class="col-md-6">
                    <section class="mt-4">
                        <h2>Categories <button class="btn btn-sm btn-primary" (click)="createCategory()"><span
                                    class="bi bi-plus-circle">
                                    Add</span></button></h2>
                        <div *ngFor="let cat of consent.category" class="codeableConceptCard">
                            <codeable-concept [codeableConcept]="cat"></codeable-concept>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">

                                <div *ngIf="consent.category" class="btn-group btn-group-sm">
                                    <a class="btn btn-small btn-primary" (click)="moveUp(cat, consent.category)"
                                        *ngIf="canMoveUp(cat, consent.category)"><span
                                            class="bi bi-chevron-up"></span></a>
                                    <a class="btn btn-small btn-primary disabled"
                                        *ngIf="!canMoveUp(cat, consent.category)"><span
                                            class="bi bi-chevron-up"></span></a>
                                    <a class="btn btn-small btn-primary disabled"
                                        *ngIf="!canMoveDown(cat, consent.category)"><span
                                            class="bi bi-chevron-down"></span></a>
                                    <a class="btn btn-small btn-primary" (click)="moveDown(cat, consent.category)"
                                        *ngIf="canMoveDown(cat, consent.category)"><span
                                            class="bi bi-chevron-down"></span></a>
                                    <a class="btn btn-small btn-outline-danger" (click)="deleteCategory(cat)"><span
                                            class="bi bi-trash"></span> Delete Category</a>
                                </div>

                                <!-- <button class="btn btn-outline-danger mt-2" (click)="deleteCategory(cat)"><span
                                class="bi bi-trash"></span> Delete Category</button> -->
                            </div>
                        </div>
                    </section>

                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>

        <div class="tab-pane " id="fhir-tab-pane" role="tabpanel" aria-labelledby="fhir-tab" tabindex="0">
            <section id="preview">
                <button class="btn btn-sm btn-primary" (click)="downloadConsentJsonFile()"><span
                        class="bi-download"></span>
                    Download FHIR Consent Resource Document</button>
                <!-- <pre><code class="language-json" >{{prettyConsentJson()}}
                    </code>
                </pre> -->
                <textarea class="language-json" [ngModel]="prettyConsentJson()" disabled></textarea>
            </section>

        </div>
    </div>


</div>